.main-footer {
    padding: 30px 0 15px;
    font-size: 12px;
}

/**
 * FRONTEND
 */

body {
    padding-top: 70px;
}

.nav .nav {
    padding-left: 15px;
    font-size: 12px;
    display: none;
}

    .nav .active>a {
        font-weight: bold;
    }

    .nav .active>.nav {
        display: block;
    }

/**
 * BACKEND
 */

.space {
    margin-right: 1em;
}

.text-center {
    text-align: center;
}

.form-actions {
    margin-top: 30px;
}

.page-list .f-title { width: 30%; }
.page-list .f-title .glyphicon {
    margin-left: 5px;
    text-decoration: none;
    font-size: 12px;
}

.page-list .f-date {
    text-align: center;
    white-space: nowrap;
    width: 1%;
}

.page-list .f-actions {
    width: 100px;
}

.page-list .f-date {
    font-size: 12px;
}

.page-list .actions
, .page-list .f-title .glyphicon {
    opacity: 0;

    -webkit-transition: opacity .1s ease-in-out;
       -moz-transition: opacity .1s ease-in-out;
        -ms-transition: opacity .1s ease-in-out;
         -o-transition: opacity .1s ease-in-out;
            transition: opacity .1s ease-in-out;
}

    .page-list .item:hover .actions
    , .page-list .item:hover .f-title .glyphicon {
        opacity: 1;
    }

.ace_editor {
    height: 250px;
}